
<!-- this page shows us the comment information. @id is the primary key refering to the comment and c is the comment object corresponding to the primary key -->

<% c = Comment.get(@id) %>

<!-- the comment view route shows the following fields -->
<table>
	<tr><td>Comment Title</td><td><%= c[:comment_title] %></td></tr>
	<tr><td>Created By</td><td><%= c[:created_by] %></td></tr>
	<tr><td>Comment</td><td><%= c[:comment] %></td></tr>
	<tr><td>Created At</td><td><%= c[:created_at] %></td></tr>
	
</table>

<!-- link for back to the comment list -->
<a href="<%= url('/comment')%>">Back to comment list</a>
