
      
<form action="/student_add_edit" method="post">
<table>

	<% if not @new_record %>
		<% record = Student.get(@id) %>
	<% end %>
      <tr><td>Student Id</td><td><input name="student_id" type="number" size="10" <% if not @new_record %> value="<%= record[:student_id] %>" <% end %> >   </td></tr>
      <tr><td>First Name</td><td><input name="firstname" type="text" size="10"<% if not @new_record %> value="<%= record[:firstname] %>" <% end %> ></td></tr>
      <tr><td>Last Name</td><td><input name="lastname" type="text" size="10"<% if not @new_record %> value="<%= record[:lastname] %>" <% end %> ></td></tr>
      <tr><td>Birthday</td><td><input name="birthday" type="date" size="10"<% if not @new_record %> value="<%= record[:birthday] %>" <% end %> ></td></tr>
      <tr><td>Address</td><td><input name="address" type="text" size="10"<% if not @new_record %> value="<%= record[:address] %>" <% end %> ></td></tr>
      <tr><td>Phone</td><td><input name="phone" type="text" size="10"<% if not @new_record %> value="<%= record[:phone] %>" <% end %> ></td></tr>
      <tr><td>Grade</td><td><input name="grade" type="text" size="10"<% if not @new_record %> value="<%= record[:grade] %>" <% end %> ></td></tr>
 </table>
 <input type="hidden" name="new_record" value="<%= @new_record %>">
 <% if not @new_record %><input type="hidden" name="unique_id" value="<%= record[:unique_id] %>"><%end%>
 <input type="submit" value="Submit">

</form>